.catalog {
  color: $color-alice-blue;
  background-color: $color-black-pearl;
}

.catalog__wrapper {
  padding: 65px 62px 140px 78px;

  @include vp-1023 {
    padding: 55px 25px 75px 25px;
  }

  @include vp-767 {
    padding: 46px 9px 87px 9px;
  }
}

.catalog h2 {
  margin: 0;
  margin-bottom: 54px;
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;

  @include vp-1023 {
    margin-bottom: 38px;
  }

  @include vp-767 {
    margin-bottom: 29px;
    padding-right: 15px;
    font-size: 28px;
    line-height: 140.62%;
  }
}

.catalog__title-desktop {
  @include vp-767 {
    display: none;
  }
}

.catalog__title-mobile {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.catalog__cards {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4.5vw;
  row-gap: 20px;
  list-style: none;

  @include vp-1023 {
    grid-template-columns: none;
    row-gap: 30px;
  }
}

.catalog__card {
  height: 650px;
  max-width: 350px;

  @include vp-1023 {
    min-height: 250px;
    height: auto;
    max-width: 100%;
  }

  &--production {
    background-image: $card-bg-gradient,
      -webkit-image-set(
        url("../../img/card-prod-bg-desktop@2x.webp") 2x,
        url("../../img/card-prod-bg-desktop.webp") 1x,
        url("../../img/card-prod-bg-desktop@2x.png") 2x,
        url("../../img/card-prod-bg-desktop.png") 1x
    );

    background-image: $card-bg-gradient,
      image-set(
        url("../../img/card-prod-bg-desktop@2x.webp") type("image/webp") 2x,
        url("../../img/card-prod-bg-desktop.webp") type("image/webp") 1x,
        url("../../img/card-prod-bg-desktop@2x.png") type("image/png") 2x,
        url("../../img/card-prod-bg-desktop.png") type("image/png") 1x
    );

    background-repeat: no-repeat;
    background-size: cover;

    @include vp-1023 {
      background-image: $card-bg-gradient,
        -webkit-image-set(
          url("../../img/card-prod-bg-tablet@2x.webp") 2x,
          url("../../img/card-prod-bg-tablet.webp") 1x,
          url("../../img/card-prod-bg-tablet@2x.png") 2x,
          url("../../img/card-prod-bg-tablet.png") 1x
      );

      background-image: $card-bg-gradient,
        image-set(
          url("../../img/card-prod-bg-tablet@2x.webp") type("image/webp") 2x,
          url("../../img/card-prod-bg-tablet.webp") type("image/webp") 1x,
          url("../../img/card-prod-bg-tablet@2x.png") type("image/png") 2x,
          url("../../img/card-prod-bg-tablet.png") type("image/png") 1x
      );
    }

    @include vp-767 {
      background-image: $card-bg-gradient,
        -webkit-image-set(
        url("../../img/card-prod-bg-mobile@2x.webp") 2x,
        url("../../img/card-prod-bg-mobile.webp") 1x,
        url("../../img/card-prod-bg-mobile@2x.png") 2x,
        url("../../img/card-prod-bg-mobile.png") 1x
      );

      background-image: $card-bg-gradient,
        image-set(
          url("../../img/card-prod-bg-mobile@2x.webp") type("image/webp") 2x,
          url("../../img/card-prod-bg-mobile.webp") type("image/webp") 1x,
          url("../../img/card-prod-bg-mobile@2x.png") type("image/png") 2x,
          url("../../img/card-prod-bg-mobile.png") type("image/png") 1x
      );
    }
  }

  &--mount {
    background-image: $card-bg-gradient,
      -webkit-image-set(
        url("../../img/card-mount-bg-desktop@2x.webp") 2x,
        url("../../img/card-mount-bg-desktop.webp") 1x,
        url("../../img/card-mount-bg-desktop@2x.png") 2x,
        url("../../img/card-mount-bg-desktop.png") 1x
    );

    background-image: $card-bg-gradient,
      image-set(
        url("../../img/card-mount-bg-desktop@2x.webp") type("image/webp") 2x,
        url("../../img/card-mount-bg-desktop.webp") type("image/webp") 1x,
        url("../../img/card-mount-bg-desktop@2x.png") type("image/png") 2x,
        url("../../img/card-mount-bg-desktop.png") type("image/png") 1x
    );
    background-repeat: no-repeat;
    background-size: cover;

    @include vp-1023 {
      background-image: $card-bg-gradient,
        -webkit-image-set(
          url("../../img/card-mount-bg-tablet@2x.webp") 2x,
          url("../../img/card-mount-bg-tablet.webp") 1x,
          url("../../img/card-mount-bg-tablet@2x.png") 2x,
          url("../../img/card-mount-bg-tablet.png") 1x
      );

      background-image: $card-bg-gradient,
        image-set(
          url("../../img/card-mount-bg-tablet@2x.webp") type("image/webp") 2x,
          url("../../img/card-mount-bg-tablet.webp") type("image/webp") 1x,
          url("../../img/card-mount-bg-tablet@2x.png") type("image/png") 2x,
          url("../../img/card-mount-bg-tablet.png") type("image/png") 1x
      );
    }

    @include vp-767 {
      background-image: $card-bg-gradient,
        -webkit-image-set(
          url("../../img/card-mount-bg-mobile@2x.webp") 2x,
          url("../../img/card-mount-bg-mobile.webp") 1x,
          url("../../img/card-mount-bg-mobile@2x.png") 2x,
          url("../../img/card-mount-bg-mobile.png") 1x
      );

      background-image: $card-bg-gradient,
        image-set(
          url("../../img/card-mount-bg-mobile@2x.webp") type("image/webp") 2x,
          url("../../img/card-mount-bg-mobile.webp") type("image/webp") 1x,
          url("../../img/card-mount-bg-mobile@2x.png") type("image/png") 2x,
          url("../../img/card-mount-bg-mobile.png") type("image/png") 1x
      );
    }
  }

  &--parts {
    background-image: $card-bg-gradient,
      -webkit-image-set(
        url("../../img/card-parts-bg-desktop@2x.webp") 2x,
        url("../../img/card-parts-bg-desktop.webp") 1x,
        url("../../img/card-parts-bg-desktop@2x.png") 2x,
        url("../../img/card-parts-bg-desktop.png") 1x
    );

    background-image: $card-bg-gradient,
      image-set(
        url("../../img/card-parts-bg-desktop@2x.webp") type("image/webp") 2x,
        url("../../img/card-parts-bg-desktop.webp") type("image/webp") 1x,
        url("../../img/card-parts-bg-desktop@2x.png") type("image/png") 2x,
        url("../../img/card-parts-bg-desktop.png") type("image/png") 1x
    );
    background-repeat: no-repeat;
    background-size: cover;

    @include vp-1023 {
      background-image: $card-bg-gradient,
        -webkit-image-set(
          url("../../img/card-parts-bg-tablet@2x.webp") 2x,
          url("../../img/card-parts-bg-tablet.webp") 1x,
          url("../../img/card-parts-bg-tablet@2x.png") 2x,
          url("../../img/card-parts-bg-tablet.png") 1x
      );

      background-image: $card-bg-gradient,
        image-set(
          url("../../img/card-parts-bg-tablet@2x.webp") type("image/webp") 2x,
          url("../../img/card-parts-bg-tablet.webp") type("image/webp") 1x,
          url("../../img/card-parts-bg-tablet@2x.png") type("image/png") 2x,
          url("../../img/card-parts-bg-tablet.png") type("image/png") 1x
      );
    }

    @include vp-767 {
      background-image: $card-bg-gradient,
        -webkit-image-set(
          url("../../img/card-parts-bg-mobile@2x.webp") 2x,
          url("../../img/card-parts-bg-mobile.webp") 1x,
          url("../../img/card-parts-bg-mobile@2x.png") 2x,
          url("../../img/card-parts-bg-mobile.png") 1x
      );

      background-image: $card-bg-gradient,
        image-set(
          url("../../img/card-parts-bg-mobile@2x.webp") type("image/webp") 2x,
          url("../../img/card-parts-bg-mobile.webp") type("image/webp") 1x,
          url("../../img/card-parts-bg-mobile@2x.png") type("image/png") 2x,
          url("../../img/card-parts-bg-mobile.png") type("image/png") 1x
      );
    }
  }
}

.catalog__link {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: $color-deep-sky-blue;
    border-top-left-radius: 3px;
    right: 0;
    bottom: 0;
  }

  &::after {
    content: "";
    position: absolute;
    right: 27px;
    bottom: 26px;
    width: 7px;
    height: 7px;
    border-right: 1px solid $color-alice-blue;
    border-bottom: 1px solid $color-alice-blue;
    transform: rotate(-45deg);
  }

  @include vp-767 {
    &::before {
      width: 40px;
      height: 40px;
    }

    &::after {
      width: 4px;
      height: 4px;
      right: 17px;
      bottom: 18px;
    }
  }

  @include hover-focus {
    background-color: $color-white-transparent-light;
  }
}

.catalog h3 {
  max-width: 230px;
  margin: 0;
  padding: 47px 5px 5px 40px;
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $color-alice-blue;

  @include vp-1023 {
    max-width: 200px;
    padding: 37px 5px 5px 45px;
  }

  @include vp-767 {
    max-width: 170px;
    padding: 26px 5px 5px 30px;
    font-size: 18px;
    line-height: 30px;
  }
}
