.feedback {
  position: relative;
  background: $feedback-bg-gradient;
  background-color: $color-deep-sky-blue;
  color: $color-alice-blue;

  @include vp-1023 {
    background: none;
    background-color: $color-deep-sky-blue;
  }

  &::after {
    content: "";
    position: absolute;
    margin-left: 10px;
    background-image: url("../../img/airplane.webp");
    background-repeat: no-repeat;
    background-size: contain;
    width: 510px;
    height: 285px;
    top: 246px;
    right: 54.3vw;

    @include retina {
      background-image: url("../../img/airplane@2x.webp");
    }

    @include vp-1279 {
      right: 49vw;
    }

    @include vp-1023 {
      content: none;
    }
  }
}

.feedback__form form {
  max-width: 580px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.6vw;
  row-gap: 21px;

  @include vp-1023 {
    max-width: 100%;
    column-gap: 3.6vw;
  }

  @include vp-767 {
    max-width: none;
    grid-template-columns: none;
    column-gap: 0;
    row-gap: 23px;
  }
}

.feedback__wrapper {
  width: 48%;
  margin-left: auto;
  padding: 165px 0 230px 0;

  @include vp-1023 {
    width: 100%;
    margin: 0 auto;
    padding: 45px 25px 105px 25px;
  }

  @include vp-767 {
    padding: 48px 9px 90px 9px;
  }
}

.feedback h2 {
  margin: 0;
  margin-bottom: 12px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;

  @include vp-1023 {
    margin-bottom: 7px;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 42px;
  }
}

.feedback p {
  margin: 0;
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 22px;

  @include vp-1023 {
    margin-bottom: 26px;
  }

  @include vp-767 {
    margin-bottom: 33px;
    font-size: 14px;
    line-height: 19px;
  }
}

.feedback .custom-toggle__label {
  max-width: 228px;

  @include vp-1023 {
    max-width: 243px;
  }
}
