.intro {
  min-height: 880px;
  background-color: $color-black-pearl;
  background-image: $background-gradient,
    url("../img/intro-bg-desktop.webp");

  background-image: $background-gradient,
    -webkit-image-set(
      url("../img/intro-bg-desktop@2x.webp") 2x,
      url("../img/intro-bg-desktop.webp") 1x,
      url("../img/intro-bg-desktop@2x.png") 2x,
      url("../img/intro-bg-desktop.png") 1x
  );

  background-image: $background-gradient,
    image-set(
      url("../img/intro-bg-desktop@2x.webp") type("image/webp") 2x,
      url("../img/intro-bg-desktop.webp") type("image/webp") 1x,
      url("../img/intro-bg-desktop@2x.png") type("image/png") 2x,
      url("../img/intro-bg-desktop.png") type("image/png") 1x
  );


  @include vp-1023 {
    min-height: 640px;
    background-image: $background-gradient,
      -webkit-image-set(
        url("../img/intro-bg-tablet@2x.webp") 2x,
        url("../img/intro-bg-tablet.webp") 1x,
        url("../img/intro-bg-tablet@2x.png") 2x,
        url("../img/intro-bg-tablet.png") 1x
    );

    background-image: $background-gradient,
      image-set(
        url("../img/intro-bg-tablet@2x.webp") type("image/webp") 2x,
        url("../img/intro-bg-tablet.webp") type("image/webp") 1x,
        url("../img/intro-bg-tablet@2x.png") type("image/png") 2x,
        url("../img/intro-bg-tablet.png") type("image/png") 1x
    );
  }

  @include vp-767 {
    min-height: 560px;
    background-image: $background-gradient,
      -webkit-image-set(
        url("../img/intro-bg-desktop@2x.webp") 2x,
        url("../img/intro-bg-desktop.webp") 1x,
        url("../img/intro-bg-desktop@2x.png") 2x,
        url("../img/intro-bg-desktop.png") 1x
    );

    background-image: $background-gradient,
      image-set(
        url("../img/intro-bg-desktop@2x.webp") type("image/webp") 2x,
        url("../img/intro-bg-desktop.webp") type("image/webp") 1x,
        url("../img/intro-bg-desktop@2x.png") type("image/png") 2x,
        url("../img/intro-bg-desktop.png") type("image/png") 1x
    );
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;

  h2 {
    margin: 0;
    margin-bottom: 32px;
    font-family: $ff-roboto;
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: $color-alice-blue;

    @include vp-1023 {
      margin: 0;
      font-size: 64px;
      line-height: 75px;
    }

    @include vp-767 {
      margin-bottom: 9px;
      font-size: 36px;
      line-height: 42px;
    }
  }

  p {
    width: 685px;
    margin: 0;
    margin-bottom: 47px;
    font-weight: 400;
    font-size: 22px;
    line-height: 155%;
    color: $color-alice-blue;

    @include vp-1023 {
      margin-bottom: 57px;
    }

    @include vp-767 {
      margin-bottom: 45px;
      width: 100%;
      font-size: 14px;
    }
  }
}

.intro__wrapper {
  padding: 304px 24px 200px 0;
  padding-left: 10.59vw;

  @include vp-1023 {
    padding: 180px 50px 205px 0;
    padding-left: 3.25vw;
  }

  @include vp-767 {
    padding: 149px 9px 189px 0;
    padding-left: 2.81vw;
    display: flex;
    flex-direction: column;
  }
}

.intro__button {
  width: 410px;
  padding: 15px 0 19px;
  display: inline-block;
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  background-color: $color-deep-sky-blue;
  color: $color-alice-blue;

  @include vp-1023 {
    margin-left: 45px;
    width: 410px;
  }

  @include vp-767 {
    padding: 13px 0 11px;
    margin-left: 0;
    width: 100%;
    max-width: 570px;
    align-self: center;
    font-size: 14px;
    line-height: 16px;
  }
}

.intro__button-text {
  &--mobile {
    display: none;
  }

  @include vp-767 {
    display: block;

    &--desktop {
      display: none;
    }
  }
}
